.EditorModal{
    position: absolute;
    background: rgba(255,255,255,0.5);
    left: 100px;
    right: 100px;
    top: 130px;
    bottom: 170px;
    z-index: 1000;
}

.EditorModal .editorField{
    position: relative;
    left:100px;
    top:100px;
    height: 200px;
    width: 400px;
}

.EditorModal .editButton{
    position: relative;
    left: 120px;
    top: 45px;
    height: 90px;
    width: 80px;
}

.EditorModal .cancelButton{
    position: relative;
    left: 40px;
    top: 155px;
    height: 90px;
    width: 80px;
}
