.message{
    margin-bottom: 10px;
    display: flex;
}

.message img{
    margin-top: 6px;
    width: 50px;
    max-height: 50px;
}

.messageInfo{
    margin-left: 10px;
}

.messageInfo .messageDate{
    margin-left: 5px;
    font-size: 10px;
    color: #7c7e7b;
}

.messageFooter{
    display: flex;
}

.messageFooterObject{
    margin-right: 5px;
}

.messageLikesCounter{
    font-size: 20px;
}

.messageActionLike{
    cursor: pointer;
}
