.ownMessage.message{
    display: flex;
    flex-direction: column-reverse;
    color: grey;
}

.ownMessage .messageInfo{
    background: #effdde;
    align-self: flex-end;
    border-radius: 15px;
    padding-left: 30px;
    padding-bottom: 5px;
}

.ownMessage .messageDate{
    text-align: right;
    margin:2px 10px 0 0;
}

.ownMessage .messageText{
    text-align: right;
    margin-right: 10px;
}
