.header{

    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px 100px 0 100px;
    justify-content: flex-start;

    padding: 10px;
    border: 1px solid black;
}

.header div{
    margin: 0 10px;
}

.header .header--chatLastMessage{
    position: absolute;
    right: 10px;
}
