.messageInput{
    display: flex;
    margin: 0 100px;
}

.messageInput .messageInputField{
    width: 300px;
    height: 40px;
    margin-right: 10px;
}

.messageInput .messageInputButton{
    width: 100px;
}
