header img{
    height: 34px;
    margin: 3px 20px 3px 100px;
}

header{
    display: flex;
    align-items: center;

}

footer{
    background: #e6e6e6;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
