.messagesList{
    margin: 30px 100px;
    height: 450px;
    border: 1px solid black;
    padding: 5px 20px;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-height: 750px){
    .messagesList{
        height: 300px;
    }
}
@media screen and (max-height: 550px){
    .messagesList{
        height: 200px;
    }
}

